[submodule "deepiri-core-api"]
	path = deepiri-core-api
	url = git@github.com:Team-Deepiri/deepiri-core-api.git
[submodule "platform-services/backend/deepiri-api-gateway"]
	path = platform-services/backend/deepiri-api-gateway
	url = git@github.com:Team-Deepiri/deepiri-api-gateway.git
[submodule "deepiri-web-frontend"]
	path = deepiri-web-frontend
	url = git@github.com:Team-Deepiri/deepiri-web-frontend.git
[submodule "platform-services/backend/deepiri-external-bridge-service"]
	path = platform-services/backend/deepiri-external-bridge-service
	url = git@github.com:Team-Deepiri/deepiri-external-bridge-service.git
[submodule "platform-services/backend/deepiri-auth-service"]
	path = platform-services/backend/deepiri-auth-service
	url = git@github.com:Team-Deepiri/deepiri-auth-service.git
[submodule "platform-services/backend/deepiri-language-intelligence-service"]
	path = platform-services/backend/deepiri-language-intelligence-service
	url = git@github.com:Team-Deepiri/deepiri-language-intelligence-service.git
